# builds the content of http://github.com/wind-press/windpress
name: Publish to npm

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
        # sometime, when 2 or more consecutive PRs merged, the checkout wind-press/windpress is overlapped
        # and reverting other commit change
        # this should not happen on create a tag, so wait first
        - name: "Wait before checkout on create a tag"
          if: "startsWith(github.ref, 'refs/tags/')"
          run: sleep 20
            
        - uses: actions/checkout@v4

        - name: install wasm-pack
          run: cargo install wasm-pack

        - name: Building the package
          run: wasm-pack build --scope="windpress" --release

        - uses: actions/setup-node@v4
          with:
            node-version: '20.x'
            registry-url: 'https://registry.npmjs.org'

        - run: npm pkg fix
          working-directory: pkg

        - name: Publish package to npm
          run: npm publish
          working-directory: pkg
          env:
            NODE_AUTH_TOKEN: ${{secrets.npm_token}}

        - name: Publish package to pkg.pr.new
          run: npx pkg-pr-new publish
          working-directory: pkg

